/bin/Debug
/bin/Release
/mcp/bin
/mcp/obj
/obj
/tests/bin
/tests/obj
/TokenSaverViewer/obj
/TokenSaverViewer/bin
/mcp/mcp/nupkg
/mcp/nupkg
/mcp/.vs
/.vs
/TokenSaverViewer/.vs
.claude/settings.local.json
/TokenSaverApi/bin
/TokenSaverApi/obj
/TokenSaverApi/.vs
tests/TEST_REPORT.md
.claude/settings.local.json
scripts/deploy.sh
/nupkg
/TokenSaverViewer/publish-folder
